# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Log files
*.log
npm-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
vendor/

# Build artifacts
dist/
build/ 